.wbutton {
    border: none;
    font-family: var(--font);
    padding: 0 16px 0;
    height: 37px;
    display: inline-flex;
    align-items: center;
    font-weight: 630;
    font-size: 13.8px;
    letter-spacing: .02rem;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    user-select: none;
    text-decoration: none;
    white-space: nowrap;
    transition: all 250ms var(--jump-ani), background-color 250ms ease;
    background-color: hsl(var(--background-color-h), var(--background-color-s), var(--background-color-l));
}

.wbutton .content {
    text-overflow: ellipsis;
    overflow: hidden;
}

.wbutton:not(.disabled):active {
    transform: translate(0, 3%);
}

.wbutton .icon-suffix {
    aspect-ratio: 1 / 1;
    height: 100%;
    margin-right: -16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wbutton.normal {
    color: var(--font-color);
}

.wbutton.inline {
    color: hsl(var(--background-color-h), var(--background-color-s), var(--background-color-l));
    background-color: transparent;
}

.wbutton.grayscaled.inline,
.wbutton.grayscaled.secondary {
    color: var(--color-grayscaled-inline-font, var(--font-color));
}

.wbutton:focus-visible {
    outline: none;
}

.wbutton:not(.disabled).inline:is(:hover, :focus-visible) {
    background: hsla(var(--background-color-h), var(--background-color-s), var(--background-color-l), 25%);
}

.wbutton:not(.disabled).normal {
    box-shadow: 0 0 0 0 hsla(var(--background-color-h), var(--background-color-s), var(--background-color-l), 25%);
}

.wbutton:not(.disabled).normal:is(:hover, :focus-visible) {
    box-shadow: 0 0 0 5px hsla(var(--background-color-h), var(--background-color-s), var(--background-color-l), 25%);
}

.wbutton.secondary {
    color: hsl(var(--background-color-h), var(--background-color-s), var(--background-color-l));
    background-color: hsla(var(--background-color-h), var(--background-color-s), var(--background-color-l), 25%);
}

.wbutton:not(.disabled).secondary:is(:hover, :focus-visible) {
    background: hsla(var(--background-color-h), var(--background-color-s), var(--background-color-l), 35%);
}

.wbutton.progress {
    background: hsl(var(--background-color-h), var(--background-color-s), var(--background-color-l), 85%);
    color: var(--font-color);
    overflow: hidden;
}

.wbutton.progress .progress {
    background: hsl(var(--background-color-h), var(--background-color-s), var(--background-color-l));
    transition: width 150ms ease;
    width: 25%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    bottom: 0;
}

.wbutton.spinner {
    background: hsl(var(--background-color-h), var(--background-color-s), var(--background-color-l));
    color: transparent;
    position: relative;
}

.wbutton.spinner .loading-wheel {
    height: 3rem;
    width: 3rem;
}

.wbutton.spinner .loading-wheel circle {
    stroke: var(--font-color);
}

.wbutton.grayscaled {
    --background-color-h: var(--color-grayscaled-hue);
    --background-color-s: var(--color-grayscaled-saturation);
    --background-color-l: var(--color-grayscaled-lightness);
    --font-color: var(--color-grayscaled-font);
}

.wbutton.colored {
    --background-color-h: var(--color-colored-hue);
    --background-color-s: var(--color-colored-saturation);
    --background-color-l: var(--color-colored-lightness);
    --font-color: var(--color-colored-font);
}

.wbutton.critical {
    --background-color-h: var(--color-critical-hue);
    --background-color-s: var(--color-critical-saturation);
    --background-color-l: var(--color-critical-lightness);
    --font-color: var(--color-critical-font);
}

.wbutton.disabled {
    cursor: default;
    --background-color-h: var(--color-disabled-hue);
    --background-color-s: var(--color-disabled-saturation);
    --background-color-l: var(--color-disabled-lightness);
    --font-color: var(--color-disabled-font);
}

.wbutton .suffixIcon {
    display: block;
    width: 2.3rem;
    height: 2.3rem;
    align-items: center;
}