.wdropdown-content {
    box-sizing: border-box;
    max-height: 100%;
    width: 100%;
    overflow: auto;
}

.wdropdown-outer-layer {
    max-height: 100%;
    box-sizing: border-box;
    display: flex;
}

.wdropdown .wbutton {
    gap: 10px;
}

[data-theme="dark"] .wdropdown-outer-layer {
    background: #3E3E3E;
}

.wdropdown-content .wdropdown-action {
    height: 28px;
    font-size: 11px;
    padding: 9px;
    line-height: 1;
    color: var(--color-grayscaled-inline-font);
}

[data-theme="light"] .wdropdown-content .wdropdown-action {
    border: 1px solid rgba(61, 61, 61, 0.16);
}

[data-theme="dark"] .wdropdown-content .wdropdown-action {
    background: rgba(0, 0, 0, 34%);
}

.wdropdown-content .wdropdown-search .wicon,
.wdropdown-action .wicon {
    width: 14px;
    height: 14px;
    font-size: 15px;
    padding-top: 0px;
    margin-right: 5px;
}

.wdropdown-action .wicon.bi {
    width: 12px;
    height: 12px;
    font-size: 13px;
    margin-left: 1px;
}

.wdropdown-action .wicon.bi::before {
    -webkit-font-smoothing: auto;
}

.wdropdown-search {
    display: grid;
    grid-template-columns: max-content auto;
    align-items: center;
    font-weight: bold;
    padding: 9px;
}

.wdropdown-content .wdropdown-search:hover {
    box-shadow: none;
    background: hsla(var(--background-color-h), var(--background-color-s), var(--background-color-l), 25%);
}

.wdropdown-content .wdropdown-search.inline {
    padding: 0 9px;
}

.wdropdown-content .wdropdown-search.inline input {
    font-family: var(--font);
    font-weight: 630;
    line-height: 1;
}

.wdropdown-content .wdropdown-search.inline input::placeholder {
    color: inherit;
}