:root {
    --layer-background: #e6e6e6;
    --layer-color: #000000;
    --layer-foreground-hue: 102;
    --layer-foreground-sat: 34%;
}

[data-theme="dark"] {
    --layer-background: #0a0a0a;
    --layer-color: #FFFFFF;
}