card.rich {
    display: grid;
    justify-content: start;
    grid-row: span 2;
    grid-column:  span 2;
    grid-template-columns: 1fr;
    grid-template-rows: max-content auto max-content;
}
card.rich .rich-title {
    margin: var(--gap);
    font-size: 1.8rem;
    font-weight: 300;
}
card.rich buttonlist {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin: 0.5rem 1.15rem;
}
card.rich buttonlist button {
    background: none;
    font-size: 1rem;
    text-transform: uppercase;
    box-shadow: none;
    color: var(--on-card-text);
    font-weight: 400;
    letter-spacing: .05rem;
    padding: .6rem 0.7rem .5rem;
    transition: background-color 100ms ease;
}
card.rich buttonlist button.red {
    color: var(--text-red);
}
card.rich buttonlist button:hover {
    background-color: var(--on-card-background);
}
card.rich .container {
    align-self: baseline;
    margin: 0 var(--gap);
}
card.rich:not(.buttons) .text {
    margin-bottom: var(--gap);
}
card.rich .container .text {
    display: block;
    font-size: var(--text-size);
}
card.rich form {
    margin-top: calc(0rem - var(--gap));
    padding: 0 0.5rem;
    position: relative;
    margin: 0 0 -0.7rem;
}
card.rich form .loader.loading input {
    color: transparent;
}
card.rich form .loader.loading input:hover {
    box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.33) !important;
    transform: none !important;
}
card.rich form .loader {
    position: relative;
    width: max-content;
    display: block;
    margin: 0;
    margin-left: auto;
    margin-bottom: var(--gap);
}
card.rich form .loader svg {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 57px;
    height: 57px;
    transform: translate(-50%, -50%) rotate(-90deg);
    animation: loadAnimation 800ms cubic-bezier(0, 0, 0.2, 1) infinite;
    display: none;
}
card.rich form .loader svg circle {
    stroke: var(--on-card-text);
}
card.rich form .loader.loading svg {
    display: block;
}
card.rich form .loader input {
    margin: 0;
}
card.rich form input.default {
    font-size: 1.5rem;
    font-weight: 300;
    background: var(--on-card-background);
    padding: 1rem;
    margin: var(--gap) 0;
    border-radius: 0.2rem;
    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.15));
    text-align: left;
    color: var(--on-card-text);
    padding-left: 1.5rem;
    transition: none;
    border: none;
}
card.rich form .loader svg circle {
    stroke-dashoffset: 58px;
    stroke-dasharray: 83px;
    r: 12;
    stroke-width: 4px;
}
card.rich form .content {
    font-size: 1.2rem;
    position: absolute;
    bottom: var(--gap);
    left: calc(0.5rem + var(--gap));
    opacity: 0;
    transition: opacity 150ms ease;
}
card.rich form .content.failed {
    opacity: 1;
}
@keyframes loadAnimation { to {transform: translate(-50%, -50%)rotate(270deg);}}