card.note {
    display: grid;
    padding: var(--gap);
    grid-template-columns: calc(var(--gap) * 2) auto;
    justify-content: unset;
    font-size: 2rem;
    grid-column: span 2;
    gap: var( --gap);
    font-weight: 300;
}
card.note .icon {
    text-align: center;
    align-self: baseline;
}
card.note .text {
    transform: translate(0, 2px);
}