card.note {
    display: grid;
    padding: var(--gap);
    justify-content: unset;
    font-size: 2rem;
    grid-column: span 2;
    gap: var(--gap);
}

card.note .horizontal-stack {
    gap: var(--gap);
}