@keyframes fadeBackdrop {
    from {
        background-color: rgb(0 0 0 / 0%);
    }

    to {
        background-color: rgb(0 0 0 / 85%);
    }
}

.dialog-backdrop {
    display: none;
}

.dialog-backdrop.open {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: var(--gap);
    background-color: rgb(0 0 0 / 85%);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeBackdrop 150ms linear;
}

@keyframes dialogFlowIn {
    from {
        transform: translate(0, 15px) scale(0.98);
        opacity: 0.95;
    }
}

.dialog-backdrop.open .dialog {
    box-shadow: var(--background-card);
    border-radius: var(--border-radius);
    background: var(--background-card);
    color: var(--on-card-text);
    backdrop-filter: var(--backdrop-filter);
    font-family: var(--font);
    animation: dialogFlowIn 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.dialog>.dialog-title {
    display: block;
    font-size: 1.8rem;
    font-weight: 400;
    margin: var(--gap);
}

.dialog>.dialog-content {
    display: block;
    margin: calc(var(--gap) / 2) var(--gap);
}