progressbar {
    background: var(--default-background-color);
    position: absolute;
    left: 50%;
    width: 20rem;
    margin-top: 4rem;
    border-radius: 1rem;
    height: 1rem;
    transform: translate(-50%, 0);
    overflow: hidden;
}
progressbar::after {
    content: '';
    background: white;
    height: -webkit-fill-available;
    height: -moz-available;
    width: var(--progress);
    display: block;
    transition: width 50ms ease;
}

.slider {
     position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(204, 204, 204);
    transition: .3s;
    border-radius: 45px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 4px;
    bottom: 4px;
    background-color: #000000fa;
    transition: .3s;
    border-radius: 50%;
}

switch {
    text-align: center;
    background: rgba(255, 255, 255, 0.39);
    display: inline-block;
    padding: .24rem .3rem .2rem;
    width: 3.3rem;
    border-radius: 30rem;
    transition: all 250ms ease;
    cursor: pointer;
    transition: all 150ms ease;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.15);
    font-size: 1rem;
}

switch:after {
    content: 'I';
    color: #6f6f6f;
    background: #00000029;
    display: block;
    width: .6rem;
    position: relative;
    padding: .2rem 0.35rem;
    border-radius: 100rem;
    transition: all 700ms cubic-bezier(0.96, -0.61, 0.26, 1.63);
    transform: translate(0%) rotate(-90deg);
    font-size: .8rem;
}
switch.active:after {
    background: #40bf29;
    content: 'I';
    color: white;
    transition: all 700ms cubic-bezier(0.96, -0.61, 0.26, 1.63);
    transform: translate(150%) rotate(360deg);
}
switch.disabled {
    box-shadow: none;
    cursor: not-allowed;
}
i {
    color: #606060;
    font-size: .8rem;
}
item i {
    display: block;
    margin-top: -2rem;
    transform: translate(0,2rem);
}
button {
    background: rgb(238, 238, 238);
    padding: .4rem;
    color: black;
    padding-left: .7rem;
    padding-right: .7rem;
    border: none;
    font-size: 0.8rem;
    border-radius: .3rem;
    transition: all 500ms ease, background 150ms ease;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.29);
    margin: 0.2rem;
}
center button:hover {
    background: rgb(236, 236, 236);

    transform: scale(1.1) translate(0,-5px);
    transition: all 150ms ease;
}
button.one {
    box-shadow: 0px 12px 61px 0px rgba(0, 0, 0, 0.48);
    font-size: 1rem;
    margin: 0.4rem;
    padding: 1rem 1.5rem !important;
}
button.one.disabled {
    background: transparent;
    box-shadow: none;
}
button.two {
    box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.28);
    font-size: 1rem;
    margin: 0.4rem;
    padding: 0.9rem;
    padding-left: 4rem;
    padding-right: 4rem;
}
button.three {
    padding: 1rem 3rem;
    margin-top: .1rem !important;
    margin-right: 0.5rem !important;
    display: inline-block;
    backdrop-filter: none;
}
center button:active {
    transform: translate(0,0);
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0), 0px 5px 16px 0px rgba(0, 0, 0, 0.5) inset;
}
*:focus {
    outline: none;
}
input[type="text"], input[type="password"], input[type="number"], input[type="email"]  {
    font-size: 1.1rem;
    padding: 0.7rem;
    margin-left: -0.5rem;
    font-family: "Roboto";
    font-weight: 300;
    display: block;
    width: fill-available;
    width: -webkit-fill-available;
    width: -moz-available;
    border-radius: 0.2rem;
    border: none;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    transition: all 150ms ease;
}
@keyframes flyinout {
    0% {
        transform: translate(0, 5rem);
    }
    20% {
        transform: translate(0, -0.2rem);
    }
    25% {
        transform: translate(0, 0rem);
    }
    80% {
        transform: translate(0, 0rem);
    }
    100% {
        transform: translate(0, 5rem);
    }
}

.note {
    text-align: start;
    font-size: 1.4rem;
    letter-spacing: 0.05rem;
    padding: 1.5rem;
}
.log {
    background: black;
    color: green;
    display: block;
    margin: .6rem 0.2rem;
    height: 19rem;
    padding: 0.5rem;
    overflow: auto;
    font-family: monospace;
    font-size: .83rem;
    right: 10rem;
}
.note::after {
    content: '✔️';
    float: left;
    font-size: 2rem;
    margin: -0.5rem -.13em;
    margin-right: 0.8rem;
}
.note.home::after {
    content: '🏡';
}
.note.fire::after {
    content: '🔥';
}
.note.error::after {
    content: '❌';
}
.note.warn::after {
    content: '⚠️';
    margin-top: -.7rem;
}
.note.developer::after {
    content: "👨‍💻";
}
span.titlew {
    font-size: 5rem;
    font-weight: 200;
    left: 0;
    animation: 2s fadein ease;
    right: 0;
    display: block;
    padding-top: 7rem;
    padding-bottom: 5rem;
    position: relative;
    text-align: center;
    text-shadow: 0 0 11px rgb(0, 0, 0);
}
span.pagetitle {
    font-size: 3.4rem;
    font-weight: 800;
    margin: 1.6rem 0.6rem -0.2rem 0.5rem;
    font-family: "Roboto";
    display: block;
    text-shadow: 0 0 12px rgba(0, 0, 0, 0.18);
}
span.pagetitle.maxWidth {
    max-width: 45rem;
    left: 50%;
    position: relative;
    transform: translate(-50%);
}
span.titleg {
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    margin-bottom: 0.6rem;
    font-size: 1.2rem;
}
span.titlew.spaceNoNav,cardlist.spaceHalf{
    transition: margin-top 250ms ease;
    margin-top: 10rem;
}
.iconlist.spaceNoNav,cardlist.spaceHalf {
    transition: margin-top 250ms ease;
    margin-top: 14rem;
}
.iconlist.spaceNoNav.blob img {
    animation: blobin 500ms ease;
}
.iconlist.spaceNoNav.blobout img {
    animation: blobout 500ms ease;
}

span.titlew.spaceHalf ,.iconlist.spaceHalf,cardlist.spaceHalf{
    transition: all 250ms ease;
    margin-top: 4rem;
}
@keyframes blobin {
    0% {
        transform: scale(0.8) translate(0,10rem);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes blobout {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(0.8) translate(0,10rem);
        opacity: 0;
    }
}
span.titlew.nospace,.iconlist.nospace{
    transition: all 250ms ease;
    margin-top: 0rem;
}
span.titlew:not(.withimg) {
    font-size: 6.3rem;
    padding-top: 5rem;
}
span.titlew:not(.withimg) > .subtitlew {
    font-size: 1.6rem;
    margin-top: -0.5rem;
}

span.subtitlew {
    position: relative;
    display: block;
    bottom: 0;
    left: 0;
    margin-left: 30rem;
    font-size: 1.5rem;
    font-weight: 200;
    font-style: italic;
    letter-spacing: 0.1rem;
}
span.titlew.withimg {
    padding-top: 2rem;

}

span.titlew.withimg img {
    width: 15rem;
    margin-bottom: 2rem;
    border-radius: 100%;
    min-height: 10rem;
}
input[type="button"]:not(.notdefault) {
    right: 0;
    width: auto;
    float: right;
    padding: 0.9rem 2.5rem;
    display: block;
    background: rgba(255, 255, 255, 0.39);
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 300;
    font-family: "Roboto";
    margin: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 0.2rem;
    box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.33), 0px 5px 16px 0px rgba(0, 0, 0, 0) inset;
    transition: all 150ms ease ;
    text-align: left;
    border: none;
}
input[type="button"]:not(.notdefault):hover {
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.55), 0px 5px 16px 0px rgba(0, 0, 0, 0) inset;
    transform: translate(0,-5px);
}
input[type="button"]:not(.notdefault):active {
    transform: translate(0,0px);

    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0),0px 5px 16px 0px rgba(0, 0, 0, 0.5) inset;
}
input[type="submit"] {
    font-size: 1.1rem;
    padding: 0.7rem;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    font-family: "Roboto";
    font-weight: 300;
    display: block;
    background: white;

    float: right;
    border-radius: 0.2rem;
    border: none;
    margin-top: 0rem;
    margin-right: -0.4rem;
    margin-bottom: 0.5rem;
}

@-moz-document url-prefix() {
    switch.active::after {
        margin: 0.05rem -0.1rem;
    }
    switch:not(.active)::after {
        margin: 0.05rem 0.05rem;
    }
  }
input[type="text"].flatweb {
    border: none;
    padding: 0.5rem;
    color: black;
    margin: -0.2rem;
    border-radius: 0.2rem;
    background: rgb(212, 212, 212);
    outline: 0;
}
input[type="text"].white::placeholder {
    color: white;

}
input[type="text"].flatweb::placeholder {
    color: rgb(39, 39, 39);

}

addbutton::after {
    content: '+';
    font-family: monospace;
    padding: 0.4rem;
    padding-bottom: 0.3rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    color: white;
    border-radius: 0.2rem;
    position: relative;
    top: -1.6rem;
    background: rgb(66, 162, 47);
}
closebutton::after {
    content: 'X';
    font-family: monospace;
    padding: 0.4rem;
    padding-bottom: 0.3rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    color: white;
    border-radius: 0.2rem;
    background: rgb(189, 31, 31);
}
closebutton:hover::after {
    background: rgb(165, 26, 26);
}
switch.disabled::after {
    background: rgb(151, 151, 151) !important;
    animation: none;
}


@media(max-width: 950px) {
    span.titlew {
        font-size: 3.8rem;
        padding-top: 0;
    }
    span.subtitlew {
        font-size: 1.3rem;
        text-align: center;
        margin-left: 0 !important;
    }
    br.mobilehide {
        display: none;
    }
    span.titlew.spaceNoNav,span.titlew.spaceHalf {
        margin-top: 0rem;
    }
}
@media(max-width: 520px) {
    span.titlew {
        font-size: 3.3rem;
        padding-bottom: 3rem;
    }
    span.subtitlew {
        font-size: 1.15rem;
    }

}
@media(max-width: 470px) {
    span.titlew.withimg img {
        width: 11rem;
        margin-bottom: 2rem !important;
    }
    span.titlew {
        font-size: 3rem;
    }
    span.subtitlew {
        font-size: 1rem;
    }
    button.one {
        margin: 0.3rem;
        padding: 0.5rem;
        padding-left: 1.1rem;
        padding-right: 1.1rem;
        font-size: 1rem;
    }
}
@media(max-width: 350px) {
    span.titlew.withimg img {
        width: 10rem;
        transform: scale(0.9);
        margin: -1rem;
        margin-bottom: 0rem !important;
    }
    span.titlew.withimg {
        padding-top: 0rem;
    }
    span.titlew {
        font-size: 2.3rem;
        padding-bottom: 1rem;
    }
}
splitView {
    display: grid;
    grid-template-columns: 200px auto;
    transition: all var(--default-transition-time) ease !important;
}
splitView.m {
    left: 50%;
    position: relative;
    max-width: calc(var(--default-max-width) + 3rem);
    transform: translate(-50%);
    margin: 0;
    padding: 0;
    grid-template-columns: 1fr 1fr;
    display: grid;
}
splitView.auto {
    grid-template-columns: max-content auto;
}
splitView content {
    text-align: left;
}
content h3 {
    font-family: "Roboto";
    margin: 0;
    font-weight: 200;
    font-size: 2.3rem;
    padding: 0 0 0.2rem 0.6rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.24);
    box-shadow: 0 5px 5px -5px rgb(0,0,0,0.1);
}
splitView.one sidebar.d {
    background: rgb(230, 230, 230);
    color:black;
    font-size: 1.5rem;
    box-shadow: 5px 0px 5px -5px rgb(0,0,0,0.1);
    transition: all var(--default-transition-time) ease;
}
splitView.one sidebar.d span.title {
    font-size: 2rem;
    padding: 1rem;
    padding-top: 0.8rem;
    padding-left: 1.3rem;
    padding-right: 1.7rem;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.055);
    display: block;

}
splitView.nomargin {
    margin: -1rem -1.5rem;
    margin-bottom: -1.6rem;
}
splitView.one sidebar.d span.subtitle {
    color: rgb(34, 34, 34);
    font-style: italic;
    font-size: 1.2rem;
    padding: 0.8rem;
    padding-left: 1.5rem;
    display: block;
}
splitView.padding sidebar.d {
    padding: 1rem;
}
splitView.padding content.d {
    padding: 1rem;
}
sidebar.list {
    padding: 0 !important;
}
sidebar.list .item {
    display: block;
    font-size: 1.3rem;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    margin-left: 1rem;
}
list.style2 item {
    margin-left: 1rem;
    user-select: none;
    display: flow-root;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    text-align: left;
    position: relative;
    min-height: 1.6rem;
}

list.style2 item .left {
    display: inline-block;
    font-size: 1.2rem;
    top: 50%;
    position: absolute;
    transform: translate(0, -50%);
}

list.style2 item .left .desc {
    display: block;
    font-size: 0.9rem;
    opacity: 0.6;
}

list.style2 item i {
    color: white;
    margin-right: 1rem;
    transform: translate(-0.2rem, 1px);
}

list.style2 item .right i {
    color: white;
    opacity: 0;
    margin: 0 -1.7rem 0 0;
    font-size: 1.7rem;
    transition: all 350ms ease-out;
}

list.style2 item:hover .right i {
    margin-right: 0.23rem;
    opacity: 1;
}

list.style2 item i.fliped {
    transform: translate(-0.2rem, 5px) rotate(180deg);
}

list.style2 item button.help {
    margin: -1rem .1rem;
}

list.nomargin {
    margin: -0.5rem;
    margin-left: -1rem;
    display: block;
}

list item {
    font-weight: 300;
    user-select: none;
    display: block;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
}

list item:first-child {
    border-top: none;
}

list item .right {
    height: 1.73rem;
    display: flex;
    align-items: center;
    margin-top: -0.1rem;
    justify-content: flex-end;
}
list item:hover .right .always {
    margin-right: 0.8rem;
}
list item i.material-icons {
    font-size: 0.7rem;
    padding-left: 0.7rem;
    padding-right: 0.3rem;
    transform: scale(2.1);
    color: rgb(199, 198, 204);
}

list item:hover span.time {
    width: auto;
    padding: 0.2rem 0.4rem;
    font-size: 1rem;
    margin: -0.2rem 0rem;
    opacity: 1;
    margin-left: 1rem;
}

list item span.time {
    background: rgb(0, 0, 0);
    font-size: 0rem;
    /* width: 0rem; */
    opacity: 0;
    margin: -0.2rem 0rem;
    border-radius: 0.2rem;
    padding: 0rem 0rem;
    transition: all 250ms ease 0.1s;
    margin-left: 0;
    display: inline-block;
}
list.two {
    display: block;
    margin-top: 0.5rem;
}
list.two button.one, input,select {
    display: block;
    background: var(--default-background-color);
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 300;
    width: -webkit-fill-available;
    width: fill-available;
    width: -moz-available;
    color: var(--default-card-color);
    font-family: "Roboto";
    padding: 1rem;
    margin: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 0.2rem;
    box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.33);
    transition: all 150ms ease;
    text-align: left;
    padding-left: 1.5rem;
    border: none;
}
list.two select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url(https://api.lucsoft.de/themes/FlatWeb/arrow.svg);

    background-position: right;
    background-size: 2rem;
    background-position-x: 91%;
    background-repeat: no-repeat;
}
select.small {
    font-size: 1.1rem;
    padding: 0.7rem;
    margin-left: -0.5rem;
}
select.small:hover {
    transform: none;
    box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.33);
}
list.two input {
    width: -webkit-fill-available;
    width: -moz-available;
    margin-left: 0.5rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    padding: 1rem;
    padding-left: 1.5rem;
}
list.two input.custom {
    width: calc(100% - 10.1rem) !important;
    display: inline-block !important;
}
list.two input:focus {
    z-index: 1;
    transform: translate(0,-0.3rem) scale(1.01);

    box-shadow: 0px 8px 28px 0px rgba(0, 0, 0, 0.51), inset 0px 0px 0px 0px rgba(0, 0, 0, 0.75);;
}
list.two input::placeholder {
    color: rgba(0, 0, 0, 0.562);
    font-style: italic;
}
list.two button.one:hover,select:hover {
    z-index: 1;
    transform: translate(0,-0.3rem) scale(1.01);

    box-shadow: 0px 8px 28px 0px rgba(0, 0, 0, 0.51), inset 0px 0px 0px 0px rgba(0, 0, 0, 0.75);;
}
list.two button.one:active {
    transition: all 100ms ease 0.01s;
    transform: translate(0,0) scale(1);
    box-shadow: 0px 0px 0px -10px rgba(0, 0, 0, 0.51), inset -2px 6px 21px -3px rgba(0, 0, 0, 0.75);
}
list.one,list.one.colums4 {
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}
list.one.colums5 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

}
list.one item {
    text-align: center;
    padding: 0rem;
    border-top: none !important;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}
list.one item span.title {
    font-size: 2.5rem;
    padding-top: 0.5rem;
    font-family: 'Roboto';
    font-weight: 200;
    display: block;
}
list.one item span.subtitle {
    font-size: 0.9rem;
    padding: 0.1rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    border-radius: 0.1rem;
    color: rgb(24, 24, 24);
    background: rgb(0,0,0,0.1);
}
list.one img {
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
    width: 60%;
    display: block;
}
list.one.colums5 item.colum1 {
    grid-column: 1 / 6;
    width: min-content;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

list.one.colums4 item.colum1 {
    grid-column: 1 / 5;
    width: min-content;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    transform: scale(1.2) translate(-42%);
}


list.one.colums4 item.colums2.a {
    grid-column: 2 / 3 !important;

}
list.one.colums4 item.colums2.b {
    grid-column: 3 / 5 !important;
    width: 45%;

}
list.one item:not(.colums2):not(.colum1) {
    transform: scale(0.9);
}
list.one item.centered {
    position: relative;
    left: 50%;
    transform: translate(-50%);
}
@media (max-width: 950px) {
    card.popup list.one span.title {
        margin-top: unset;
        padding: unset;
        padding-left: unset;

    }
    splitView.m {
        grid-template-columns: 1fr;
    }
}

@media(max-width: 690px) {
    span.titlew:not(.withimg) {
        font-size: 5rem;
        padding-top: 2rem;
    }
    span.titlew:not(.withimg) > .subtitlew {
        font-size: 1.5rem;
    }
    h2 {
        font-size: 2.8rem;
    }
    h4 {
        font-size: 1.2rem;
    }
}
@media(max-width: 480px) {
    span.titlew:not(.withimg) {
        font-size: 3rem;
        padding-top: 1.5rem;
    }
    h2 {
        font-size: 2.5rem;
        margin-top: 1.5rem;
    }
    h4 {
        font-size: 0.9rem;
    }
}
.loading {
    text-align: center;
    margin: 2rem;
    margin-bottom: 3rem;
}
.loading img {
    margin: 1rem;
}
.loading .text {
    display: block;
    color: var(--default-card-color);
    font-family: "Roboto";
    font-size: 1.7rem;
}
.loadingwheel {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
    transform: scale(1.6) translate(-50%,0);
    left: 50%;
    animation: showloadingwheel 500ms ease;
}
@keyframes showloadingwheel{
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.loadingwheel div {
    transform-origin: 32px 32px;
    animation: loadingwheel .6s linear infinite;
}

.loadingwheel div:after {
    content: " ";
    display: block;
    position: absolute;
    top: -3px;
    left: 31px;
    width: 2px;
    height: 26px;
    border-radius: 20%;
    background: white;
}
.loadingwheel.black div::after {
    background: black;
}
.loadingwheel div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -0.55s;
}
.loadingwheel div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -.5s;
}
.loadingwheel div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.45s;
}
.loadingwheel div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.4s;
}
.loadingwheel div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.35s;
}
.loadingwheel div:nth-child(6) {
    transform: rotate(150deg);
   animation-delay: -0.3s;
}
.loadingwheel div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.25s;
}
.loadingwheel div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.2s;
}
.loadingwheel div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.15s;
}
.loadingwheel div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.1s;
}
.loadingwheel div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.05s;
}
.loadingwheel div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}
.loadingwheel .text {
    display: block;
    width: max-content;
    margin-top: 5.3rem;
    font-size: 0.98rem;
    font-weight: 200;
    left: 50%;
    position: absolute;
    letter-spacing: 0.1rem;
    transform: translate(-50%);
    animation: blinktext 9s linear infinite;
}
@keyframes blinktext {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
@keyframes loadingwheel {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
}

.icons {
    padding: 1rem 0 1.1rem;
    border-radius: 0.2rem;
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
    flex-wrap: wrap;

}

.iconE img {
    width: 6rem;
    display: block;
    left: 50%;
    transform: translate(-50%, 0);
    position: relative;
}
.iconE span {
    background: #fdfdfd;
    color: black;
    padding: 0.5rem;
    margin-top: 0.6rem;
    border-radius: .2rem;
    display: block;
}
.iconE span.uploaded:before {
    content: "cloud_done";
    font-family: "Material Icons Round";
    font-size: 1.2rem;
    display: inline-block;
    float: left;
    margin-left: 0.3rem;
    margin-right: 0.4rem;
}
.tags {
    background: var(--default-background-color);
    overflow: hidden;
    display: flex;
    margin-right: 0.4rem;
    margin-left: -0.5rem;
    border-radius: .3rem;
    box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.33);
}
.tags ul {
    list-style: none;
    padding: 0;
    margin: 0;
    float: left;
}
span.text h1 {
    font-weight: 300;
}
.tags ul li {
    display: unset;
    background: #fdfdfd;
    color: black;
    padding: 0.3rem 0.7rem;
    margin: 0.1rem;
    transform: translate(57px, 0px);
    border-radius: 0.1rem;
    position: relative;
    top: 0.8rem;
    left: 0.2rem;
}
.tags .newtag {
    margin: 0;
    display: inline-block;
    background: transparent;
    box-shadow: none;
}
div#tag_ava {
    padding-top: 1.2rem;
    margin-left: -0.5rem;
    display: block;
    position: relative;
    width: 32rem;
}
#tag_ava span.tag {
    margin-bottom: 0.6rem;
    background: white;
    color: black;
    display: inline-block;
}