switch {
    text-align: center;
    background: var(--on-card-background);
    display: inline-block;
    padding: 3px 4px 3px;
    width: 3.3rem;
    border-radius: 30rem;
    cursor: pointer;
    box-shadow: var(--box-shadow);
    font-size: 1rem;
}

switch:after {
    content: 'I';
    color: #6f6f6f;
    background: #00000029;
    display: block;
    width: 10px;
    position: relative;
    padding: 3px 5.7px;
    border-radius: 100rem;
    transition: all 700ms cubic-bezier(0.96, -0.61, 0.26, 1.63);
    transform: translate(0%) rotate(-90deg);
    font-size: .8rem;
}
switch.active:after {
    background: #40bf29;
    content: 'I';
    color: white;
    transition: all 700ms cubic-bezier(0.96, -0.61, 0.26, 1.63);
    transform: translate(150%) rotate(360deg);
}
switch.disabled {
    cursor: not-allowed;
}
item > .webgen-icon {
    display: block;
    margin-top: -2rem;
    transform: translate(0,2rem);
}
@keyframes flyinout {
    0% {
        transform: translate(0, 5rem);
    }
    20% {
        transform: translate(0, -0.2rem);
    }
    25% {
        transform: translate(0, 0rem);
    }
    80% {
        transform: translate(0, 0rem);
    }
    100% {
        transform: translate(0, 5rem);
    }
}

span.titlew {
    font-size: 5rem;
    font-weight: 200;
    left: 0;
    animation: 2s fadein ease;
    right: 0;
    display: block;
    padding-top: 7rem;
    padding-bottom: 5rem;
    position: relative;
    text-align: center;
    color: var(--on-background-text);
}
span.pagetitle {
    font-size: 3.4rem;
    font-weight: 800;
    margin: 1.6rem 0 -0.2rem 0rem;
    display: block;
    color: var(--on-background-text);
}
span.pagetitle.maxWidth {
    max-width: 45rem;
    left: 50%;
    position: relative;
    transform: translate(-50%);
}

span.titlew.nospace {
    transition: all 250ms ease;
    margin-top: 0rem;
}
span.titlew:not(.withimg) {
    font-size: 6.3rem;
    padding-top: 5rem;
}
span.titlew:not(.withimg) > .subtitlew {
    font-size: 1.6rem;
    margin-top: -0.5rem;
}

span.subtitlew {
    display: block;
    margin: 0 auto;
    font-size: 1.5rem;
    font-weight: 200;
    letter-spacing: 0.1rem;
}
span.titlew.withimg {
    padding-top: 2rem;

}

span.titlew.withimg img {
    width: 15rem;
    margin-bottom: 2rem;
    border-radius: 100%;
    min-height: 10rem;
}

switch.disabled::after {
    background: rgb(151, 151, 151) !important;
    animation: none;
}

@media(max-width: 950px) {
    span.titlew {
        font-size: 3.8rem;
        padding-top: 0;
    }
    span.subtitlew {
        font-size: 1.3rem;
        text-align: center;
        margin-left: 0 !important;
    }
    span.titlew.spaceNoNav,span.titlew.spaceHalf {
        margin-top: 0rem;
    }
}
@media(max-width: 520px) {
    span.titlew {
        font-size: 3.3rem;
        padding-bottom: 3rem;
    }
    span.subtitlew {
        font-size: 1.15rem;
    }

}
@media(max-width: 470px) {
    span.titlew.withimg img {
        width: 11rem;
        margin-bottom: 2rem !important;
    }
    span.titlew {
        font-size: 3rem;
    }
    span.subtitlew {
        font-size: 1rem;
    }
}
@media(max-width: 350px) {
    span.titlew.withimg img {
        width: 10rem;
        transform: scale(0.9);
        margin: -1rem;
        margin-bottom: 0rem !important;
    }
    span.titlew.withimg {
        padding-top: 0rem;
    }
    span.titlew {
        font-size: 2.3rem;
        padding-bottom: 1rem;
    }
}
splitView {
    display: grid;
    grid-template-columns: 200px auto;
    transition: all var(--default-transition-time) ease !important;
}
splitView.m {
    left: 50%;
    position: relative;
    max-width: calc(var(--max-width) + 3rem);
    transform: translate(-50%);
    margin: 0;
    padding: 0;
    grid-template-columns: 1fr 1fr;
    display: grid;
}
splitView.auto {
    grid-template-columns: max-content auto;
}
splitView content {
    text-align: left;
}
content h3 {
    margin: 0;
    font-weight: 200;
    font-size: 2.3rem;
    padding: 0 0 0.2rem 0.6rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.24);
    box-shadow: 0 5px 5px -5px rgb(0,0,0,0.1);
}
splitView.one sidebar.d {
    background: rgb(230, 230, 230);
    color:black;
    font-size: 1.5rem;
    box-shadow: 5px 0px 5px -5px rgb(0,0,0,0.1);
    transition: all var(--default-transition-time) ease;
}
splitView.one sidebar.d span.title {
    font-size: 2rem;
    padding: 1rem;
    padding-top: 0.8rem;
    padding-left: 1.3rem;
    padding-right: 1.7rem;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.055);
    display: block;

}
splitView.nomargin {
    margin: -1rem -1.5rem;
    margin-bottom: -1.6rem;
}
splitView.one sidebar.d span.subtitle {
    color: rgb(34, 34, 34);
    font-style: italic;
    font-size: 1.2rem;
    padding: 0.8rem;
    padding-left: 1.5rem;
    display: block;
}
splitView.padding sidebar.d {
    padding: 1rem;
}
splitView.padding content.d {
    padding: 1rem;
}
sidebar.list {
    padding: 0 !important;
}
sidebar.list .item {
    display: block;
    font-size: 1.3rem;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    margin-left: 1rem;
}
list.style2 item {
    margin-left: 1rem;
    user-select: none;
    display: grid;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding: .9rem 0.6rem;
    text-align: left;
    position: relative;
    grid-template-columns: auto max-content;
    min-height: 1.6rem;
}

list.style2 item .left {
    font-size: 1.1rem;
}

list.style2 item .left .desc {
    display: block;
    font-size: 0.9rem;
    opacity: 0.6;
}

list.style2 item i {
    color: white;
    margin-right: 1rem;
    transform: translate(-0.2rem, 1px);
}
list.style2 item i.fliped {
    transform: translate(-0.2rem, 5px) rotate(180deg);
}

list.nomargin {
    margin: -0.5rem;
    margin-left: -1.5rem;
    display: block;
}

list item {
    font-weight: 300;
    user-select: none;
    display: block;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
}

list item:first-child {
    border-top: none;
}

list item .right {
    height: 1.73rem;
    display: flex;
    align-items: center;
    margin-top: -0.1rem;
    justify-content: flex-end;
}
list.noHeigthLimit item .right {
    height: unset;
}
list item:hover .right .always {
    margin-right: 0.8rem;
}
list item > .webgen-icon {
    font-size: 0.7rem;
    padding-left: 0.7rem;
    padding-right: 0.3rem;
    transform: scale(2.1);
    color: var(--on-card-text);
}

list item:hover span.time {
    width: auto;
    padding: 0.2rem 0.4rem;
    font-size: 1rem;
    margin: -0.2rem 0rem;
    opacity: 1;
    margin-left: 1rem;
}

list item span.time {
    background: rgb(0, 0, 0);
    font-size: 0rem;
    /* width: 0rem; */
    opacity: 0;
    margin: -0.2rem 0rem;
    border-radius: 0.2rem;
    padding: 0rem 0rem;
    transition: all 250ms ease 0.1s;
    margin-left: 0;
    display: inline-block;
}
list.two {
    display: block;
    margin-top: 0.5rem;
}
list.one,list.one.colums4 {
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}
list.one.colums5 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

}
list.one item {
    text-align: center;
    padding: 0rem;
    border-top: none !important;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}
list.one item span.title {
    font-size: 2.5rem;
    padding-top: 0.5rem;
    font-weight: 200;
    display: block;
}
list.one item span.subtitle {
    font-size: 0.9rem;
    padding: 0.1rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    border-radius: 0.1rem;
    color: rgb(24, 24, 24);
    background: rgb(0,0,0,0.1);
}
list.one img {
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
    width: 60%;
    display: block;
}
list.one.colums5 item.colum1 {
    grid-column: 1 / 6;
    width: min-content;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

list.one.colums4 item.colum1 {
    grid-column: 1 / 5;
    width: min-content;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    transform: scale(1.2) translate(-42%);
}


list.one.colums4 item.colums2.a {
    grid-column: 2 / 3 !important;

}
list.one.colums4 item.colums2.b {
    grid-column: 3 / 5 !important;
    width: 45%;

}
list.one item:not(.colums2):not(.colum1) {
    transform: scale(0.9);
}
list.one item.centered {
    position: relative;
    left: 50%;
    transform: translate(-50%);
}
@media (max-width: 950px) {
    card.popup list.one span.title {
        margin-top: unset;
        padding: unset;
        padding-left: unset;

    }
    splitView.m {
        grid-template-columns: 1fr;
    }
}

@media(max-width: 690px) {
    span.titlew:not(.withimg) {
        font-size: 5rem;
        padding-top: 2rem;
    }
    span.titlew:not(.withimg) > .subtitlew {
        font-size: 1.5rem;
    }
    h2 {
        font-size: 2.8rem;
    }
    h4 {
        font-size: 1.2rem;
    }
}
@media(max-width: 480px) {
    span.titlew:not(.withimg) {
        font-size: 3rem;
        padding-top: 1.5rem;
    }
    h2 {
        font-size: 2.5rem;
        margin-top: 1.5rem;
    }
    h4 {
        font-size: 0.9rem;
    }
}
@keyframes blinktext {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
@keyframes loadingwheel {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
}

.icons {
    padding: 1rem 0 1.1rem;
    border-radius: 0.2rem;
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
    flex-wrap: wrap;

}

.iconE img {
    width: 6rem;
    display: block;
    left: 50%;
    transform: translate(-50%, 0);
    position: relative;
}
.iconE span {
    background: #fdfdfd;
    color: black;
    padding: 0.5rem;
    margin-top: 0.6rem;
    border-radius: .2rem;
    display: block;
}
.iconE span.uploaded:before {
    content: "cloud_done";
    font-family: "Material Icons Round";
    font-size: 1.2rem;
    display: inline-block;
    float: left;
    margin-left: 0.3rem;
    margin-right: 0.4rem;
}
.tags {
    overflow: hidden;
    display: flex;
    margin-right: 0.4rem;
    margin-left: -0.5rem;
    border-radius: .3rem;
    box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.33);
}
.tags ul {
    list-style: none;
    padding: 0;
    margin: 0;
    float: left;
}
span.text h1 {
    font-weight: 300;
}
.tags ul li {
    display: unset;
    background: #fdfdfd;
    color: black;
    padding: 0.3rem 0.7rem;
    margin: 0.1rem;
    transform: translate(57px, 0px);
    border-radius: 0.1rem;
    position: relative;
    top: 0.8rem;
    left: 0.2rem;
}
.tags .newtag {
    margin: 0;
    display: inline-block;
    background: transparent;
    box-shadow: none;
}