body {
    background: var(--background-color);
    font-family: var(--font);
    color: var(--on-background-text);
    font-weight: 300;
    margin: 0;
    overflow-x: hidden;

    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
}

html {
    scroll-behavior: smooth;
}

.hide {
    display: none !important;
}

.material-icons-new {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: contain;
}

.icon-white {
    filter: contrast(4) invert(1);
}

::-webkit-scrollbar {
    width: 5px;
    height: 0;
    margin-left: -5px;
    background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-track {
    display: none;
}

::-webkit-scrollbar-thumb {
    background: rgb(37, 37, 37);
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.bi {
    font-size: 17.8px;
    aspect-ratio: 1 / 1;
    line-height: 1;
    padding-top: 2px;
}