:root {
    --default-shadow: 0px 7px 28px 0px rgba(0, 0, 0, 0.40);
    --default-card-color: black;
    --default-transition-time: 150ms;
    --default-secondary-color: #474747;
}

article#fulllanding {
    margin-top: -5.1rem;
    padding-top: 5rem;
    min-height: calc(100vh - 5rem);
    color: white;
    background: var(--default-fulllandingpageimg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 1.5rem;
    transition: all var(--default-transition-time) ease;
}

article#fulllanding.dark {
    color: black;
}

article#fulllanding.min {
    min-height: 5rem;
}

article#fulllanding.nonav {
    min-height: calc(100vh - 1.4rem);
}

article#float {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 32rem;
    z-index: 50;
}

body {
    background: var(--background-color);
    font-family: var(--font);
    color: white;
    font-weight: 300;
    margin: 0;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

.hide {
    display: none !important;
}

.material-icons-new {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: contain;
}

.icon-white {
    filter: contrast(4) invert(1);
}

h2 {
    font-weight: 200;
    text-align: center;
    font-size: 3rem;
    margin-top: 0;
    color: var(--on-background-text);
}

h4 {
    font-weight: 300;
    margin-top: -2rem;
    text-align: center;
    font-size: 1.4rem;
    color: var(--on-background-text);
}

::-webkit-scrollbar {
    width: 5px;
    margin-left: -5px;
    background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-track {
    display: none;
}

::-webkit-scrollbar-thumb {
    background: rgb(37, 37, 37);
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.notify {
    display: flex;
    position: fixed;
    bottom: 0;
    right: 0;
    width: min-content;
    z-index: 10;
    margin: 0.6rem;
    flex-wrap: wrap;
    align-content: flex-end;
}

@keyframes flyin {
    0% {
        opacity: 0.5;
        transform: translate(0px, 20px);
    }
    4% {
        transform: translate(0px, 0px);
    }
    5% {
        opacity: 1;
        transform: translate(0px, -1px);
    }
    6% {
        transform: translate(0px, 0px);
    }
    95% {
        opacity: 1;
        transform: translate(0px, 0px);
    }
    100% {
        opacity: 0;
        transform: translate(0px, -5px);
    }
}

.notify span {
    display: block;
    background: #2d2d2d;
    color: gainsboro;
    padding: 0.55rem 0.8rem;
    font-size: 1.1rem;
    margin: 0.25rem 0;
    opacity: 0;
    border-radius: 0.15rem;
    min-width: 12rem;
    animation: 6000ms flyin ease;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bi {
    font-size: 17.8px;
    aspect-ratio: 1 / 1;
    line-height: 1;
    padding-top: 2px;
}