:root {
    --default-shadow: 0px 7px 28px 0px rgba(0, 0, 0, 0.40);
    --default-card-color: black;
    --default-transition-time: 150ms;
    --default-secondary-color: #474747;
}

body {
    background: var(--background-color);
    font-family: var(--font);
    color: white;
    font-weight: 300;
    margin: 0;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

.hide {
    display: none !important;
}

.material-icons-new {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: contain;
}

.icon-white {
    filter: contrast(4) invert(1);
}
h1, h2, h3, h4, h5, h6, span.themed {
    color: var(--on-background-text);
}
h2 {
    font-weight: 200;
    text-align: center;
    font-size: 3rem;
    margin-top: 0;
}

h4 {
    font-weight: 300;
    margin-top: -2rem;
    text-align: center;
    font-size: 1.4rem;
}

::-webkit-scrollbar {
    width: 5px;
    margin-left: -5px;
    background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-track {
    display: none;
}

::-webkit-scrollbar-thumb {
    background: rgb(37, 37, 37);
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.bi {
    font-size: 17.8px;
    aspect-ratio: 1 / 1;
    line-height: 1;
    padding-top: 2px;
}