.loading-wheel {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 57px;
    height: 57px;
    transform: translate(-50%, -50%) rotate(-90deg);
    animation: loadAnimation 800ms cubic-bezier(0, 0, 0.2, 1) infinite;
    display: none;
}
.loading-wheel circle {
    stroke: var(--on-card-text);
}
.loading-wheel circle {
    stroke-dashoffset: 58px;
    stroke-dasharray: 83px;
    r: 12px;
    r: 12;
    stroke-width: 4px;
}
.loading > .loading-wheel {
    display: block;
}

@keyframes loadAnimation { to {transform: translate(-50%, -50%)rotate(270deg);}}