article.nav_fixed {
    margin-top: 2.8rem;
}
article.nav_box.nav_fixed {
    margin-top: 3.6rem;
}
article.nav_box:not(.nav_fixed) {
    margin-top: -0.2rem;
}
article.padding {
    padding: 1rem;
}
span.title2 {
    padding: 0.5rem;
    font-size: 1.3rem;
    font-weight: 100;
    display: block;
}