.search {
    position: relative;
    width: -webkit-fill-available;
    overflow: hidden;
    border-radius: var(--border-radius);
}
.search > i {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.88rem;
    margin: .55rem;
}
.search > input {
    margin: 0;
    padding: var(--gap) calc(var(--gap) * 3) var(--gap) var(--gap);
    box-shadow: none;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    border-radius: 0;
    background: var(--on-card-background);
    color: var(--on-card-text);
}
.search > ul {
    padding: 0;
    margin: 0;
    list-style: none;
    max-height: 15rem;
    overflow-y: overlay;
    overflow-x: hidden;
}
.search > ul > li {
    display: grid;
    grid-template-columns: auto max-content;
    padding: 1rem 1.2rem 1rem 1.3rem;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.search ul li left {
    font-size: 1.3rem;
    align-self: center;
}
.search ul li left > img{
    height: 2.1rem;
    margin: -0.5rem 1rem -.65rem 0;
    image-rendering: pixelated;
}
.search ul li right {
    display: flex;
    white-space: nowrap;
}
.search ul li right i {
    color: var(--on-card-text);
    font-size: 1.7rem;
    transition: margin-right 250ms ease-out, opacity 150ms ease-out;
    margin-right: -1.7rem;
    opacity: 0;
}
.search ul li:hover right i {
    margin-right: 0;
    margin: 0 0.2rem;
    opacity: 1;
}
.search ul li:hover {
    background: var(--on-card-background);
}

span.tag {
    background: var(--on-card-text);
    color: var(--on-background-text);
    padding: 0.2rem 0.5rem;
    margin: 0 0.2rem;
    width: max-content;
    text-align: center;
    overflow: hidden;
    border-radius: 0.15rem;
    white-space: nowrap;
    display: inline-block;
}