#sidebar div ul li img {display: inline;height: 3rem;width: 3rem;}

#sidebar .sidebar {
    display: block;
    background: var(--default-background-color);
    backdrop-filter: var(--default-backdrop);
    height: 100vh;
    grid-column: 1 / 1;
    width: -webkit-fill-available;
    position: absolute;
    box-shadow: -24px 0px 49px 40px #000000b3;
}

#sidebar div ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
}

#sidebar {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 13rem calc(100% - 13rem);
    width: -webkit-fill-available;
    position: absolute;
}

#sidebar .sidebar ul li span.title {padding-left: 0.7rem;font-size: 1.3rem;}

#sidebar .sidebar ul li {height: 3.8rem;display: inline-flex;align-items: center;width: -webkit-fill-available;padding-left: 0.7rem;transition: all 250ms ease;}
#sidebar #content {
    grid-column: 2 / 2;
}

#sidebar .sidebar ul li:hover {
    background: #ffffff12;
}

#sidebar .sidebar span.title {
    display: block;
}

#sidebar span.name {
    display: block;
    font-size: 1.8rem;
    text-align: center;
    padding: 1.3rem 0 0.2rem;
}

#sidebar span.subtitle {
    text-align: right;
    display: block;
    padding: 0 2.4rem 1.4rem;
    border-bottom: 1px solid #ffffff0d;
}
