.horizontal-stack {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
}

.spacer {
    flex-basis: 100%;
}

.vertical-stack {
    display: flex;
    height: 100%;
    flex-direction: column;
    box-sizing: border-box;
}

:is(.horizontal-stack, .vertical-stack)>*:not(.spacer) {
    flex-shrink: 0;
}