#qunit {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 32rem;
    height: 19rem;
    background: var(--default-background-color);
    color: var(--default-card-color);
    margin: 1rem;
    overflow: hidden;
    border-radius: 0.3rem;
    backdrop-filter: var(--default-backdrop);
    opacity: 0;
    animation: unit_slideout 500ms ease;
}

#qunit.show {
    opacity: 1;
    animation: unit_slidein 500ms ease;
}
#qunit.hide {
    display: none;
}
@keyframes unit_slidein {
    0% {
        width: 14rem;
        height: 3.5rem;
        opacity: 0;
    }
    40% {
        width: 32rem;
        height: 3.5rem;
        opacity: 1;
    }
    100% {
        width: 32rem;
        height: 19rem;
    }
}
@keyframes unit_slideout {
    0% {
        width: 32rem;
        height: 19rem;
        opacity: 1;
    }
    60% {
        width: 32rem;
        height: 3.5rem;
        opacity: 1;
    }
    100% {
        width: 14rem;
        height: 3.5rem;
        opacity: 0;
    }
    
}
#qunit #qunit-header {
    background: var(--default-background-color);
    margin: 0;   
}
#qunit #qunit-banner {
    margin: 0;
}
#qunit #qunit-banner.qunit-fail::after{
    content: 'warning';
    position: absolute;
    top: .5rem;
    color: rgba(202, 71, 19, 1);
    font-size: 2.4rem;
    right: 0.8rem;
    font-family: 'Material Icons Round';
    text-shadow: none;
}
#qunit .qunit-assert-list {
    list-style: none;
    padding: 0;
}
#qunit #qunit-tests {
    list-style: none;
    margin: 0;
    padding: 0;
    height: inherit;
    overflow: auto;
    position: relative;
}
#qunit #qunit-tests li {
    padding: 0.4rem 1rem;
    border-bottom: 1px solid #ffffff29;
    position: relative;
    height: 2.2rem;
}
#qunit #qunit-tests li:last-child {
    margin-bottom: 0.3rem;
}
#qunit #qunit-tests li::after {
    content: 'penndig';
    position: absolute;
    right: .8rem;
    top: 0.6rem;
    background: #929292;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.9rem;
    padding: .4rem 0.6rem;
    width: 4rem;
    text-align: center;
    border-radius: 10rem;
}
#qunit #qunit-tests li.fail::after {
    content: 'failed';
    background: #c54637;
    color: white;
}
#qunit #qunit-tests li.pass::after {
    content: 'passed';
    background: #2eb12e;
    color: white;
}
#qunit #qunit-tests li .runtime {
    float: right;
    margin-right: 5.5rem;
    margin-top: 0.5rem;
}
#qunit #qunit-tests li:not(.fail) .test-name {
    margin-top: 0.5rem;
    display: inline-block;
    font-weight: 500;
}
#qunit #qunit-tests li ol li {
    border-bottom: 0;
    padding: 0;
}
#qunit #qunit-tests li ol li.pass {
    display: none;
}
#qunit #qunit-tests li ol li::after {
    display: none;
}
#qunit #qunit-header a {
    color: var(--default-card-color);
    text-decoration: none;
    font-family: Roboto;
    font-weight: 300;
    font-size: 1.4rem;
    padding: 0.9rem 1rem;
    display: block;
}
#qunit-testrunner-toolbar, #qunit-userAgent,#qunit-banner *,#qunit-testresult, #qunit #qunit-tests li .counts , .qunit-source, .qunit-assert-list table, #qunit #qunit-tests li a,.qunit-assert-list .runtime{
    display: none;
    margin: 0;
    padding: 0;
}