:root {
    --background-color: #000000e8;
    --on-background-text: white;
    --background-card: #e6e6e6;
    --on-card-text: #353535;
    --on-card-subtext: #676767;
    --on-card-background: rgb(238, 238, 238);
    --max-width: 90vw;
    --border-radius: 0.6rem;
    --font: 'Roboto';
    --card-min-width: 12rem;
    --gap: 1.3rem;
    --text-red: #bf0000;
    --text-size: 1.3rem;
}

article.maxWidth {
    display: block;
    margin: 0 auto;
}