:root {
    --default-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.28);
}
body {
    background: rgb(223, 222, 222);
    color: black;
}
card.iconbox .title{
 color: white;
}
card.iconbox:hover::after {
    box-shadow: 0px -281px 81px -241px rgba(0, 0, 0, 0.64) inset;
}
nav.style_box {
    box-shadow: 0 0 0.5rem var();
}
nav.style_box, nav.style_box ul li.left.title {
    background: white;
}

nav.style_box.mobileshow ul li {
    background: rgb(233, 233, 233);

}
nav.style_nobox:not(.white) ul li {
    color: rgb(20, 20, 20);
    text-shadow: 0 0 1.5rem var(--default-textshadow); 
}
span.titlew,h2,h4,span.subtitlew {
    text-shadow: 0 0 1.5rem var(--default-textshadow); 
    
}
card {
    box-shadow: var(--default-shadow);
}
span.title2 {
    color: rgb(0, 0, 0);
    text-shadow: 0 0 1.5rem var(--default-textshadow); 
}
nav.fixed.style_nobox:not(.mobileshow):not(.white)  {
    background: rgba(255, 255, 255, 0.8313725490196079);
}
group {
    color: rgb(15, 15, 15);
    text-shadow: 0 0 1.5rem var(--default-textshadow);
}
#particles-js {
    filter: invert(0.34) !important;
}
@media ( max-width: 950px) {
    nav.style_nobox.mobileshow ul li {
        color: rgb(218, 218, 218);
        text-shadow: none;
    } 
}
card.popup list item:hover span.time {
    background: rgb(208, 208, 208);
}

cardlist card.right,cardlist card.left {
    transform: perspective(0);
}
card.iconbox img {
    filter: drop-shadow(0 0 6px rgba(0,0,0,0.2));
}
.loadingwheel div:after {
    background: black;
}    
card.popup list.style2 item i {
    color: black;
}
.toggle.disabled input:checked + .slider {
    background: rgba(174, 162, 162, 0.14);
}