@font-face {
    font-family: "Red Hat Display";
    src: url(./RedHatDisplay.woff2) format("woff2-variations");
    font-weight: 300 900;
    font-size: 14px;
    size-adjust: 90%;
    font-optical-sizing: auto;
}